@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Barlow:wght@100&family=Bellefair&display=swap');

$font-color-1: #FFFFFF;
$font-color-2: #0B0D17;
$font-color-3: #D0D6F9;
$font-style-barlow: 'Barlow', sans-serif;
$font-style-barlow-condensed: 'Barlow Condensed', sans-serif;
$font-style-bellefair: 'Bellefair', serif;
$x-y-offset: 8vw;

@mixin border {
    border: none;
    border-radius: 50%;
}

@mixin display-mobile {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

* {
    box-sizing: border-box;
    margin: 0;
    scrollbar-width: none;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 25px;
    background-image: url('../../assets/destination/background-destination-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: relative;
    height: $x-y-offset * 3;

    .logo-wrapper {
        position: absolute;
        left: $x-y-offset;
        top: $x-y-offset;
        width: 40px;
        height: 40px;
        @include border();

        .web--logo-icon {
            max-width: 100%;
            max-height: 100%;
        }

    }

    .hamburger-close-wrapper {
        position: absolute;
        right: $x-y-offset ;
        top: $x-y-offset;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    nav {
        position: fixed;
        height: 100vh;
        width: 67.7vw;
        left: 100vw;
        -moz-transition: 0.25s linear;
        -ms-transition: 0.25s linear;
        -webkit-transition: 0.25s linear;
        -o-transition: 0.25s linear;
        transition: 0.25s linear;

        .background-filter {
            height: 100%;
            width: 100%;
            background-color: #97979765;
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px); 
        }
    }

    nav.open {
        left: 100vw - 67.7vw;
    }

    .nav-items {
        position: absolute;
        width: 100%;
        top: $x-y-offset * 4;
        padding-left: $x-y-offset;
        gap: $x-y-offset * 1.3;
        @include display-mobile();

        .nav--item {
            width: 100%;
            height: 3rem;
            font-family: $font-style-barlow-condensed;
            font-size: 1.8rem;
            letter-spacing: 0.01rem;
            list-style: none;

            span {
                font-weight: bolder;
                color: $font-color-1;
            }

            a {
                padding: 0.3rem;
                color: $font-color-1;
                text-decoration: none;
                font-weight: bolder;

                &:active {
                    color: $font-color-1;
                }

                &:visited {
                    color: $font-color-1;
                }
            }
        }

        .nav--item:nth-child(2) {
            border-right: 8px solid $font-color-1;
        }
    }
}

.destination-main {
    margin: $x-y-offset * 0.2 auto;
    scrollbar-width: none;

    .header-wrapper {
        width: 70vw;
        max-width: 250px;
        margin: auto;
        color: $font-color-1;

        span {
            font-family: $font-style-barlow-condensed;
            font-size: 0.8rem;
            font-weight: lighter;
            letter-spacing: 0.2rem;
        }

        .destination--heading {
            padding-left: $x-y-offset * 0.3;
            display: inline;
            font-family: $font-style-barlow-condensed;
            font-size: 0.8rem;
            font-weight: bold;
            text-align: justify;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
        }
    }

    .image-wrapper {
        width: 45vw;
        margin: $x-y-offset auto auto;

        .destination--image {
            max-width: 100%;
        }
    }

    .destination-links-wrapper {
        margin: $x-y-offset * 0.5 auto;
        width: 60%;
        max-width: 300px;

        .destination-links {
            width: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .destination--link {
            list-style: none;

            a {
                font-family: $font-style-barlow-condensed;
                font-size: 0.9rem;
                font-weight: bold;
                color: $font-color-1;
                text-decoration: none;
                letter-spacing: 0.1rem;
            }
        }

        .destination--link.active__ {
            padding-bottom: $x-y-offset * 0.1;
            border-bottom: 3px solid $font-color-1;
        }
    }

    .destination-description-wrapper {
        width: 87.2vw;
        margin: $x-y-offset * 0.6 auto;
        text-align: center;
        border-bottom: 2px solid #d0d6f951;

        h2 {
            font-family: $font-style-bellefair;
            color: $font-color-1;
        }

        .destination--description {
            margin: $x-y-offset * 0.2 auto;
            padding-bottom: $x-y-offset;
            font-family: $font-style-barlow;
            font-size: 1rem;
            color: $font-color-1;
            line-height: 1.8rem;
        }
    }

    .distance-wrapper {
        width: 78vw;
        margin: $x-y-offset auto;
        text-align: center;

        .distance--text {
           font-size: 1rem;
           font-family: $font-style-barlow-condensed;
           color: $font-color-1;
           text-transform: uppercase;
           letter-spacing: 0.1rem;
        }

        .mileage--text {
            padding: $x-y-offset * 0.3;
            font-family: $font-style-bellefair;
            font-size: 1.5rem;
            color: $font-color-1;
            text-transform: uppercase;
        }
    }

    .time-wrapper {
        @extend .distance-wrapper;

        .time--text {
            font-size: 1rem;
            font-family: $font-style-barlow-condensed;
            color: $font-color-1;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
        }

        .mileage--text {
            padding: $x-y-offset * 0.3;
            font-family: $font-style-bellefair;
            font-size: 1.5rem;
            color: $font-color-1;
            text-transform: uppercase;  
        }
    }
}

@import './destination-tablet.scss';

@import './destination-desktop.scss';